/* dashboard.css */
body {
  background-color: black;
}


.feedback-container {
  margin-top: 20px; /* Add margin between sections */
  border: 2px solid orange;
}

.open-tickets-container{
  margin-bottom: 20px;
  margin-left: 150px;
  color: orange;
  border:2px solid orange;
  width: 80%;
  text-align: center;
}
.nav-menu {
  flex: 0 0 200px; /* Adjust width of nav menu as needed */
  background-color: black; /* Set background color of nav menu */
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-menu ul li {
  margin-bottom: 10px;
}

.nav-menu ul li a {
  display: block;
  color: white; /* Set text color to white */
  text-decoration: none;
  padding: 10px;
}

.nav-menu ul li a.active {
  background-color: #555;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  color: white; /* Set text color to white */
}


.nav-menu {
  flex: 0 0 200px; /* Adjust width of nav menu as needed */
  background-color: #333; /* Set background color of nav menu */
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
}

.nav-menu ul li {
  margin-bottom: 10px;
}

.nav-menu ul li a {
  display: block;
  color: white; /* Set text color to white */
  text-decoration: none;
  padding: 10px;
}

.nav-menu ul li a.active {
  background-color: #555;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  color: white; /* Set text color to white */
}

.new-ticket-button {
  width: 150px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  font-size: 14px; /* Adjust font size as needed */
  background-color: orange; /* Set background color to orange */
  color: black; /* Set text color to black */
  text-decoration: none; /* Remove default underline */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}